.footer-containt {
  background-color: var(--primary);
  color: white;
  margin-top: 2rem;
  padding: 1rem;
  font-family: 'PT Sans', Helvetica, sans-serif;
}

.footer {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'PT Sans', Helvetica, sans-serif;
}

.footer img{
  width: 15vw;
}

.footer p{
  text-align: center;
}

.footer-variant p{
  text-align: center;
}

.footer-variant-div {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}


@media (min-width: 980px) {
  .footer {
    justify-content: space-around;
    flex-direction: row;
  }
  .footer-variant {
    justify-content: center;
    padding-top: 0;
  }
  .footer-variant-div {
    display: flex;
    margin: .5rem 0;
  }
  .footer-variant p{
    margin: 0 3rem;
  }
  .footer img{
    width: 5vw;
  }
}