.footer-containt {
  background-color: var(--primary);
  color: white;
  margin-top: 2rem;
  padding: 3rem;
  font-family: 'PT Sans', Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'PT Sans', Helvetica, sans-serif;
}

.footer-text {
  display: none;
}

.footer img{
  width: 15vw;
}

.footer p{
  text-align: center;
}

.footer-variant p{
  text-align: center;
}

.footer-variant-div {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.wa-button {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #06d755;
  border-radius: 50%;
  padding: .8rem;
  margin: 1rem;
  cursor: pointer;
}

.footer-number{
  font-size: 1.5rem;
  margin: .5rem 0;
}

.wa-social {
  color: white;
}

.footer-places {
  text-align: center;
}

.footer-places p{
  text-align: center;
  font-size: .8rem;
  line-height: .3rem;
}

.footer-cities{
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
}

.footer-mobile {
  text-align: center;
  margin: 2rem 0;
  font-size: .8rem;
}

@media (min-width: 980px) {
  .footer-containt {
    flex-direction: row;
  }
  .footer {
    justify-content: space-around;
    flex-direction: row;
  }
  .footer-variant {
    justify-content: center;
    padding-top: 0;
  }
  .footer-variant-div {
    display: flex;
    margin: .5rem 0;
  }
  .footer-variant p{
    margin: 0 3rem;
  }
  .footer img{
    width: 5vw;
  }
  .footer-places {
    text-align: end;
  }
  .footer-places p{
    text-align: end;
  }
  .footer-mobile {
    display: none;
  }
  .footer-text {
    display: block;
  }
}