.product-contain {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

@media (min-width: 980px) {
  .product-contain {
    flex-direction: row;
  }
}