.terms-contain {
  padding: 1rem 2rem;
}

.terms-name {
  font-weight: bold;
}

.terms-url {
  color: var(--primary);
  font-weight: bold;
}

.terms-contain p {
  color: var(--gray10);
  text-align: justify;
}

.terms-contain li {
  color: var(--gray10);
  padding-bottom: 1rem;
}

.terms-contain ol {
  padding-left: 0;
  list-style-position: inside;
}

.terms-contain .ol-letter {
  list-style-type:lower-alpha;
  padding-left: 1rem;
}

li {
  text-align: justify;
}

.right-terms-img {
  display: flex;
  justify-content: center;
}

.post-vacuna {
  width: 70vw;
}

.logotexto-vacuna {
  width: 50vw;
  margin-bottom: 3rem;
}

@media (min-width: 980px) {
  .logotexto-vacuna {
    width: 18vw;
    margin-bottom: 3rem;
  }
  .post-vacuna {
    width: 20vw;
  }
}