@import './css/index.css';
@import './css/Footer.css';
@import './css/Navbar.css';
@import './css/Terms.css';
@import './css/Product.css';
@import './css/Banner.css';

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  font-size: 15px;
  --white: #fff;
  --black: #333;
  --black10: #444;
  --primary: #007D7D;
  --secondary: #02aeae;
  --green40: #058c8c;
  --green50: #006060;
  --green60: #004343;
  --gray10:#444343;
}
